<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 2043</h1>
      <h2>Unix Tools and Scripting</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Hollister Hall B14<br/>
        Lecture: MWF 11:15am - 12:05pm<br/>
        Course material: <a href="https://github.com/cs2043-sp16">GitHub</a><br/>
        Discussion: <a href="https://piazza.com/cornell/spring2016/cs2043">Piazza</a><br/>
        Grades: <a href="http://cms.csuglab.cornell.edu">CMS</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Lecturer: Stephen McDowell<br/>
        Email: <a href="mailto:sjm324@cornell.edu?subject=[CS 2043]">sjm324@cornell.edu</a><br/>
        OH: <b>TBD</b><br/>
      </p>
    </div>
    </div>
  </div>
</div>
